header {
    display: flex;
    height: 4rem;
    box-shadow: 4px 0px 24px 0px #00000014;
    align-items: center;
    padding: 1rem 0.75rem;
    .user-details {
        display: flex;
        gap: 1rem;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .search {
        width: 20rem;
    }
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-button);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.25s;
    &.on-hover {
        background-color: transparent;
        &:hover {
            background-color: var(--icon-button);
        }
    }
}

.dashboard-wrapper {
    display: flex;

    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

.calendar-section {
    display: flex;
    flex-direction: column;
    padding: 1.75rem 1rem;
}

.order-drawer {
    .drawer-header {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        height: 2.5rem;

        p {
            font-size: 1.75rem;
        }

        .ant-tag {
            display: block;
            color: black;
            height: 100%;
            font-size: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .order-details {
        display: flex;
        gap: 1rem;
    }

    .ant-drawer-body {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    .general-inputs-wrapper {
        > p {
            margin-bottom: 1.25rem;
            font-weight: 600;
            font-size: 1.25rem;
        }
        .general-inputs {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
        }

        .reset {
            margin-left: auto;
            margin-top: 1rem;
        }
    }

    .switches-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        > div {
            display: flex;
            align-items: center;
            width: 14rem;
            justify-content: space-between;
        }
    }
}

.actions-wrapper {
    margin-top: 1.75rem;
    display: flex;
    justify-content: space-between;
    height: 40px;
    > .left {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .arrows-wrapper {
            display: flex;
            height: 100%;
            align-items: center;
            gap: 0.25rem;

            > .date-wrapper {
                height: 100%;
                background-color: var(--icon-button);
                display: flex;
                align-items: center;
                padding: 12px 15px;
            }
        }
    }
}

.calendar {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    .calendar-row {
        display: flex;
        border-right: 2px solid rgb(221, 221, 221);
        padding-right: 0.5rem;
        flex-direction: column;
        gap: 0.25rem;
        flex-grow: 1;
        .row-details {
            border-radius: 0.25rem;
            background-color: var(--icon-button);
            padding: 0.5rem 1rem;
            transition: 0.25s;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .date-details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &:hover {
                background-color: transparent;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
        .row-main-content {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            .calendar-event {
                width: 100%;
                height: 5rem;
                background-color: var(--icon-button);
                border-radius: 0.5rem;
                border-left: 6px solid #4fc585;
                display: flex;
                flex-direction: column;
                padding: 6px;
                cursor: pointer;
            }
        }
    }
}
